In [1]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.25.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# Downloading the dataset
df_dataset = pd.read_excel("./Worksheet in Mini project- Performing EDA on a dataset.xlsx")
df_dataset

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,...,7,0,0,0,0,0,0,3,11,1

In [3]:
df_dataset.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [4]:
df_dataset.dtypes

ID                              int64
Year_Birth                      int64
Education                      object
Marital_Status                 object
Income                        float64
Kidhome                         int64
Teenhome                        int64
Dt_Customer            datetime64[ns]
Recency                         int64
MntWines                        int64
MntFruits                       int64
MntMeatProducts                 int64
MntFishProducts                 int64
MntSweetProducts                int64
MntGoldProds                    int64
NumDealsPurchases               int64
NumWebPurchases                 int64
NumCatalogPurchases             int64
NumStorePurchases               int64
NumWebVisitsMonth               int64
AcceptedCmp3                    int64
AcceptedCmp4                    int64
AcceptedCmp5                    int64
AcceptedCmp1                    int64
AcceptedCmp2                    int64
Complain                        int64
Z_CostContact                   int64
Z_Revenue                       int64
Response                        int64
dtype: object

In [5]:
df_dataset.isna()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2236,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2237,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2238,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2239,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
df_dataset.isna().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [7]:
df_dataset=df_dataset.dropna()
df_dataset

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,...,7,0,0,0,0,0,0,3,11,1

In [8]:
df_dataset.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,...,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.0,2216.0,2216.000000
mean,5588.353339,1968.820397,52247.251354,0.441787,0.505415,49.012635,305.091606,26.356047,166.995939,37.637635,...,5.319043,0.073556,0.074007,0.073105,0.064079,0.013538,0.009477,3.0,11.0,0.150271
std,3249.376275,11.985554,25173.076661,0.536896,0.544181,28.948352,337.327920,39.793917,224.283273,54.752082,...,2.425359,0.261106,0.261842,0.260367,0.244950,0.115588,0.096907,0.0,0.0,0.357417
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2814.750000,1959.000000,35303.000000,0.000000,0.000000,24.000000,24.000000,2.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,174.500000,8.000000,68.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8421.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,505.000000,33.000000,232.250000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

In [9]:
df_dataset['Education'].value_counts()

Graduation    1116
PhD            481
Master         365
2n Cycle       200
Basic           54
Name: Education, dtype: int64

In [10]:
X = df_dataset.drop(columns =['Income','Education','Marital_Status','Dt_Customer'],axis = 1)
Y = df_dataset['Income']

In [11]:
X

,ID,Year_Birth,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,0,0,58,635,88,546,172,88,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,1,1,38,11,1,6,2,1,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,0,0,26,426,49,127,111,21,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,1,0,26,11,4,20,10,3,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,1,0,94,173,43,118,46,27,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,0,1,46,709,43,182,42,118,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,2,1,56,406,0,30,0,0,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,0,0,91,908,48,217,32,12,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,0,1,8,428,30,214,80,30,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,1,1,40,84,3,61,2,1,...,7,0,0,0,0,0,0,3,11,1

In [12]:
Y

0       58138.0
1       46344.0
2       71613.0
3       26646.0
4       58293.0
         ...
2235    61223.0
2236    64014.0
2237    56981.0
2238    69245.0
2239    52869.0
Name: Income, Length: 2216, dtype: float64

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,train_size = 0.8,random_state= 42)

In [14]:
X_train

,ID,Year_Birth,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
209,380,1954,0,1,17,1170,48,320,42,32,...,8,1,0,0,0,0,0,3,11,1
53,2225,1977,0,0,54,510,120,550,156,40,...,1,1,0,0,1,0,0,3,11,1
184,2563,1961,0,0,80,1,9,7,2,14,...,6,0,0,0,0,0,0,3,11,0
2115,9907,1969,0,1,80,742,28,152,25,9,...,4,0,0,0,0,0,0,3,11,0
728,11171,1965,2,1,60,292,3,77,10,3,...,7,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1655,1834,1978,1,0,77,30,5,23,4,1,...,7,0,0,0,0,0,0,3,11,0
1108,4741,1974,1,0,17,391,32,70,21,32,...,5,0,1,0,0,0,0,3,11,0
1143,8414,1962,0,1,76,56,0,12,0,0,...,7,0,0,0,0,0,0,3,11,0
1307,4394,1965,0,0,43,1142,29,249,38,29,...,2,0,1,1,0,0,0,3,11,0
873,738,1981,1,1,35,48,13,57,24,15,...,7,0,0,0,0,0,0,3,11,0

In [15]:
X_test.shape

(444, 25)

In [16]:
Y_train

209     64497.0
53      82582.0
184     28249.0
2115    66476.0
728     56962.0
         ...
1655    35544.0
1108    65463.0
1143    33419.0
1307    81051.0
873     42395.0
Name: Income, Length: 1772, dtype: float64

In [17]:
len(Y_test)

444

In [18]:
df_train = df_dataset.iloc[:int(2216*0.8),:]
df_test = df_dataset.iloc[int(2216*0.8):,:]

In [19]:
df_train.shape

(1772, 29)

In [20]:
df_test.shape

(444, 29)

In [21]:
np.random.choice(range(2216), int(2216*0.8), replace = False)

array([1998, 1593, 1483, ...,  730,   41, 1587])

In [22]:
df_train = df_dataset.iloc[np.random.choice(range(2216), int(2216*0.8), replace = False),:]

In [23]:
df_train

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
798,3749,1973,Graduation,Together,73926.0,0,0,2013-03-02,54,627,...,3,0,0,0,0,0,0,3,11,0
167,3712,1959,Graduation,Divorced,52332.0,0,0,2013-08-28,63,212,...,4,0,1,0,0,0,0,3,11,0
1640,6866,1969,Master,Together,35924.0,1,1,2014-03-23,56,8,...,5,0,0,0,0,0,0,3,11,0
187,3934,1966,Graduation,Married,61286.0,0,1,2013-08-02,34,356,...,5,0,0,0,0,0,0,3,11,0
1189,5231,1974,2n Cycle,Married,45894.0,0,2,2014-02-27,15,27,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,2281,1970,Graduation,Single,33697.0,1,0,2013-09-15,34,4,...,7,1,0,0,0,0,0,3,11,0
307,6963,1947,Graduation,Single,77457.0,0,0,2014-03-05,85,675,...,1,0,0,1,0,0,0,3,11,0
1494,2005,1990,Graduation,Married,35765.0,1,0,2013-12-11,86,22,...,6,0,0,0,0,0,0,3,11,0
295,2926,1952,Master,Together,55951.0,0,1,2012-08-23,62,1241,...,8,0,1,0,0,1,0,3,11,0
224,7079,1962,Graduation,Divorced,63887.0,0,1,2012-09-08,38,897,...,6,0,0,0,0,0,0,3,11,0

In [24]:
set(df_dataset.index) - set(df_train.index)

{6,
 7,
 12,
 13,
 16,
 24,
 26,
 38,
 39,
 57,
 60,
 67,
 73,
 80,
 82,
 100,
 107,
 109,
 113,
 121,
 124,
 129,
 137,
 142,
 146,
 153,
 162,
 163,
 179,
 184,
 192,
 204,
 209,
 220,
 240,
 245,
 246,
 254,
 255,
 258,
 263,
 266,
 267,
 271,
 276,
 278,
 280,
 296,
 302,
 308,
 311,
 317,
 320,
 321,
 325,
 345,
 347,
 350,
 354,
 361,
 364,
 367,
 369,
 397,
 400,
 403,
 419,
 426,
 428,
 431,
 440,
 441,
 442,
 449,
 450,
 451,
 453,
 455,
 464,
 470,
 473,
 475,
 478,
 484,
 490,
 493,
 496,
 499,
 507,
 508,
 523,
 529,
 533,
 535,
 536,
 540,
 545,
 552,
 554,
 558,
 562,
 563,
 567,
 568,
 575,
 587,
 593,
 594,
 596,
 602,
 607,
 608,
 612,
 615,
 625,
 632,
 633,
 636,
 638,
 639,
 643,
 653,
 658,
 663,
 664,
 671,
 683,
 684,
 688,
 689,
 690,
 695,
 699,
 709,
 710,
 716,
 717,
 718,
 719,
 723,
 726,
 733,
 735,
 742,
 745,
 746,
 753,
 756,
 757,
 761,
 762,
 773,
 774,
 775,
 788,
 795,
 806,
 808,
 809,
 816,
 819,
 821,
 827,
 831,
 833,
 839,
 845,
 847,
 859,
 862,
 869,
 874,
 879,
 882,
 885,
 890,
 902,
 917,
 925,
 936,
 937,
 938,
 947,
 948,
 951,
 958,
 961,
 967,
 968,
 977,
 979,
 980,
 988,
 993,
 995,
 996,
 1001,
 1003,
 1006,
 1011,
 1012,
 1017,
 1029,
 1039,
 1041,
 1045,
 1048,
 1056,
 1060,
 1063,
 1064,
 1071,
 1075,
 1078,
 1079,
 1085,
 1090,
 1091,
 1092,
 1098,
 1101,
 1104,
 1112,
 1116,
 1124,
 1126,
 1131,
 1135,
 1137,
 1140,
 1145,
 1149,
 1153,
 1155,
 1157,
 1161,
 1162,
 1163,
 1165,
 1166,
 1192,
 1193,
 1195,
 1199,
 1200,
 1201,
 1218,
 1219,
 1220,
 1224,
 1240,
 1241,
 1254,
 1255,
 1257,
 1270,
 1282,
 1288,
 1310,
 1311,
 1315,
 1317,
 1321,
 1325,
 1331,
 1339,
 1341,
 1345,
 1348,
 1350,
 1353,
 1357,
 1363,
 1367,
 1368,
 1397,
 1398,
 1399,
 1403,
 1409,
 1410,
 1422,
 1431,
 1439,
 1448,
 1450,
 1452,
 1457,
 1467,
 1469,
 1472,
 1474,
 1479,
 1490,
 1491,
 1502,
 1503,
 1506,
 1507,
 1517,
 1536,
 1541,
 1548,
 1551,
 1555,
 1564,
 1569,
 1574,
 1575,
 1577,
 1580,
 1595,
 1601,
 1613,
 1614,
 1630,
 1632,
 1636,
 1637,
 1639,
 1650,
 1651,
 1653,
 1656,
 1662,
 1668,
 1669,
 1673,
 1689,
 1690,
 1697,
 1702,
 1711,
 1717,
 1719,
 1721,
 1723,
 1743,
 1744,
 1756,
 1758,
 1761,
 1762,
 1771,
 1772,
 1773,
 1781,
 1785,
 1793,
 1797,
 1801,
 1802,
 1805,
 1829,
 1837,
 1842,
 1845,
 1847,
 1851,
 1852,
 1863,
 1864,
 1867,
 1868,
 1869,
 1874,
 1884,
 1887,
 1892,
 1896,
 1898,
 1899,
 1901,
 1902,
 1904,
 1911,
 1913,
 1916,
 1925,
 1927,
 1933,
 1936,
 1955,
 1958,
 1959,
 1963,
 1970,
 1973,
 1974,
 1976,
 1981,
 1982,
 1987,
 1997,
 1998,
 2000,
 2004,
 2005,
 2007,
 2016,
 2019,
 2022,
 2024,
 2029,
 2035,
 2039,
 2041,
 2042,
 2044,
 2045,
 2050,
 2060,
 2070,
 2083,
 2092,
 2098,
 2101,
 2108,
 2118,
 2122,
 2133,
 2134,
 2137,
 2139,
 2147,
 2161,
 2163,
 2166,
 2174,
 2176,
 2180,
 2185,
 2190,
 2192,
 2195,
 2197,
 2203,
 2218,
 2227,
 2230,
 2233,
 2236,
 2237,
 2239}

In [25]:
df_test = df_dataset.loc[list(set(df_dataset.index) - set(df_train.index)),:]
df_test

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
2050,626,1951,Graduation,Married,32871.0,1,1,2013-03-09,28,22,...,4,0,0,0,0,0,0,3,11,0
6,965,1971,Graduation,Divorced,55635.0,0,1,2012-11-13,34,235,...,6,0,0,0,0,0,0,3,11,0
7,6177,1985,PhD,Married,33454.0,1,0,2013-05-08,32,76,...,8,0,0,0,0,0,0,3,11,0
12,2125,1959,Graduation,Divorced,63033.0,0,0,2013-11-15,82,194,...,2,0,0,0,0,0,0,3,11,0
13,8180,1952,Master,Divorced,59354.0,1,1,2013-11-15,53,233,...,6,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2039,5628,1982,Graduation,Together,61416.0,0,0,2013-02-08,25,848,...,6,1,0,0,0,0,0,3,11,0
2041,4974,1970,Graduation,Single,83273.0,1,2,2012-09-25,98,433,...,7,0,0,0,0,0,0,3,11,0
2042,8416,1981,Graduation,Married,29009.0,1,0,2013-11-29,19,6,...,6,0,0,0,0,0,0,3,11,0
2044,4095,1971,Graduation,Married,37150.0,1,0,2012-09-11,80,167,...,7,0,0,0,0,0,0,3,11,0
2045,5474,1970,Graduation,Single,43020.0,1,0,2013-11-30,79,45,...,6,0,0,0,0,0,0,3,11,0

In [26]:
model = LinearRegression()

In [27]:
model.fit(X_train, Y_train)

LinearRegression()

In [28]:
model.score(X_train,Y_train)

0.5051751997096614

In [29]:
dir(model)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_feature_names',
 '_check_n_features',
 '_decision_function',
 '_estimator_type',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_preprocess_data',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_residues',
 '_set_intercept',
 '_validate_data',
 'coef_',
 'copy_X',
 'feature_names_in_',
 'fit',
 'fit_intercept',
 'get_params',
 'intercept_',
 'n_features_in_',
 'n_jobs',
 'normalize',
 'positive',
 'predict',
 'rank_',
 'score',
 'set_params',
 'singular_']

In [30]:
model.feature_names_in_

array(['ID', 'Year_Birth', 'Kidhome', 'Teenhome', 'Recency', 'MntWines',
       'MntFruits', 'MntMeatProducts', 'MntFishProducts',
       'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases',
       'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases',
       'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4',
       'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain',
       'Z_CostContact', 'Z_Revenue', 'Response'], dtype=object)

In [31]:
model.coef_

array([ 2.09832280e-01, -4.51066176e+01,  2.40502430e+03,  5.32753645e+03,
       -1.04701357e+01,  1.34462163e+01,  1.98725016e+01,  1.95858093e+01,
        5.84870526e+00,  2.04979846e+01, -8.24871457e+00, -4.67751882e+02,
        1.19534649e+03,  6.68465632e+02,  4.87968211e+02, -3.03425927e+03,
       -1.72213779e+03,  2.15669745e+03,  3.66331629e+03,  3.02709834e+03,
        1.89608388e+03, -1.88629150e+03,  0.00000000e+00,  0.00000000e+00,
       -4.91827237e+01])

In [32]:
model.intercept_

135572.36790976638

In [33]:
dict(zip(model.feature_names_in_, model.coef_))

{'ID': 0.20983228037725257,
 'Year_Birth': -45.10661756637184,
 'Kidhome': 2405.024304681199,
 'Teenhome': 5327.536453182153,
 'Recency': -10.470135747092337,
 'MntWines': 13.446216332786054,
 'MntFruits': 19.87250158039086,
 'MntMeatProducts': 19.585809347001817,
 'MntFishProducts': 5.848705259835658,
 'MntSweetProducts': 20.497984581869595,
 'MntGoldProds': -8.248714570133071,
 'NumDealsPurchases': -467.7518824199197,
 'NumWebPurchases': 1195.3464919271926,
 'NumCatalogPurchases': 668.4656319332167,
 'NumStorePurchases': 487.9682113416555,
 'NumWebVisitsMonth': -3034.2592698007024,
 'AcceptedCmp3': -1722.1377852779024,
 'AcceptedCmp4': 2156.6974462186104,
 'AcceptedCmp5': 3663.3162930640747,
 'AcceptedCmp1': 3027.0983437944733,
 'AcceptedCmp2': 1896.0838811245474,
 'Complain': -1886.291503809114,
 'Z_CostContact': 0.0,
 'Z_Revenue': 0.0,
 'Response': -49.18272374083073}

In [34]:
y_predict= model.predict(X_test)
y_predict

array([55982.39951862, 26183.38848561, 36687.25792363, 63258.51204908,
       43631.8462632 , 87280.71830139, 87090.4773728 , 57450.50678672,
       49933.92646974, 85374.70539807, 49756.86852894, 39931.73494149,
       48862.35730734, 51617.73811287, 45019.35257302, 71130.24712015,
       30839.50255272, 74293.7806264 , 37074.19842628, 87273.58843049,
       49091.84287916, 58262.10593846, 41582.98093366, 34193.19971445,
       62390.49854545, 68410.49974503, 62312.10406592, 37729.0968429 ,
       82244.95852981, 86067.81723318, 28077.77691259, 80914.30484905,
       32515.6900252 , 36441.21292834, 36679.15906712, 45434.96063895,
       79454.82763436, 48212.32660811, 76383.64027374, 64250.93170136,
       71800.73528219, 47325.82782755, 78928.6855512 , 48541.45278554,
       46440.38146207, 49479.16530526, 51077.65697983, 31882.32611046,
       44292.73167084, 30568.83776006, 67916.79660752, 44585.19594303,
       32860.1094984 , 61389.14225679, 58501.4645341 , 64402.69979908,
       84038.12073527, 62009.19991984, 42696.81193731, 30519.3578345 ,
       66077.31447918, 30159.43154726, 23264.07961743, 41118.34092841,
       90278.54010437, 53662.0689992 , 44435.74879189, 74566.23381934,
       56085.53506006, 43918.75829788, 91408.47673386, 58979.21292177,
       41958.49855532, 43994.48775511, 42423.78293721, 46976.39674152,
       62733.77270249, 73652.90297998, 29097.99780463, 61959.7856781 ,
       73060.18561459, 72621.91957185, 49119.82936669, 65660.91315037,
       53324.37792779, 33002.52145026, 54829.0334646 , 32361.63820247,
       53393.16224198, 39689.84937549, 61270.85199556, 26533.33698825,
       79429.66089552, 26294.82841307, 73933.08807654, 45319.1937886 ,
       54686.01168514, 61462.0943526 , 36970.90544691, 28517.51909969,
       66654.43282338, 58663.10987997, 28859.96986843, 55328.63119575,
       75237.77785506, 34495.44927399, 57254.42433358, 25995.07462765,
       86135.87139873, 37317.08060624, 54423.74097809, 67993.31035835,
       55578.35175007, 69894.23740488, 59755.96716518, 34877.77196463,
       29276.8950824 , 48140.90786949, 76591.29556709, 90824.0355564 ,
       69505.03323052, 58895.43228635, 80645.44448805, 42673.58607711,
       39350.64740452, 26368.32334972, 51068.27128612, 67386.45573864,
       35051.53332796, 34509.78716113, 46884.7480759 , 33922.22285041,
       72220.3944158 , 37509.83386166, 38678.14368484, 58536.94883551,
       33403.89559251, 29857.60261638, 93126.63734885, 79339.96843907,
       24656.96801896, 31603.52493601, 29673.74000151, 34357.59486973,
       82829.56951811, 45596.99687634, 61559.38585676, 80067.06722455,
       38956.23777056, 64924.33463032, 35254.81437619, 32017.1116839 ,
       29548.33762976, 67072.0955826 , 68898.59755477, 40187.63195896,
       41516.20250846, 27991.664087  , 36415.56796108, 35725.68118509,
       37660.09305571, 28922.52468821, 34072.41545554, 66022.74985276,
       75239.7246996 , 60659.55529428, 33665.80014496, 69304.01073161,
       76655.16583711, 55703.57915125, 63990.41583325, 79682.33168362,
       36370.01616397, 29044.98881219, 67374.83174059, 74981.32272881,
       31966.19987883, 53860.01796483, 39444.28885329, 89503.94155447,
       22930.06488733, 33148.88373923, 33905.35674042, 39571.41599419,
       30633.00871799, 46934.21156733, 96871.00418511, 35043.97310368,
       48971.54549347, 31606.77232436, 42272.528844  , 53586.66640468,
       33334.48485289, 33588.30151003, -8021.44067163, 29696.67198873,
       51722.098988  , 30654.75796962, 62524.37073579, 64199.14087638,
       56815.92380343, 37829.3486053 , 43535.7646324 , 87304.9892759 ,
       33756.40609025, 64258.80278766, 67012.01482022, 78288.54429849,
       26514.8499958 , 42918.65357237, 31195.7959349 , 37072.87062344,
       49999.75975848, 28144.45354133, 39581.61585541, 30471.88119532,
       35582.86995876, 35654.15297178, 42341.44439729, 58257.62607756,
       71181.63079934, 46173.57871853, 59308.66258353, 95915.63344434,
       69446.76788093, 43611.30416729, 31038.30647609, 26499.24931206,
       32932.15461431, 65492.72939469, 30877.43931973, 60205.07641585,
       68135.05761664, 53933.55583974, 26719.81375201, 72989.88390213,
       39243.33027031, 43582.55417322, 64522.6891371 , 46988.77410177,
       31261.97815828, 77552.37076091, 67925.02179057, 54504.00275751,
       34521.3429202 , 72287.16795734, 56692.05373745, 48618.30781299,
       35526.93069745, 62570.28336573, 41655.96746558, 40132.36024852,
       78476.69363929, 28687.90420545, 25594.82121879, 90644.4932616 ,
       27212.9312231 , 42512.54174903, 31881.48637397, 56813.80037015,
       66328.56242087, 48904.49341992, 28754.97584948, 55433.30041042,
       65331.46726509, 56126.18940912, 70885.36464593, 40981.41048878,
       74163.46731979, 29206.2568654 , 74571.23310926, 35337.71273337,
       73625.23581878, 29779.70655483, 34454.44429601, 65910.29731292,
       74357.6747796 , 59298.80782484, 61205.89805814, 76863.95041077,
       35665.775069  , 73035.94333839, 62742.30222009, 77696.0071869 ,
       39507.59350765, 65214.09191795, 28970.20565141, 47627.30481986,
       68899.14419274, 46066.39549616, 73683.5037124 , 44283.89331577,
       79443.40371199, 77752.49948028, 44865.6771484 , 57814.98122955,
       54442.59062128, 30148.85929597, 46725.43761592, 45196.44999449,
       82039.43820039, 74218.6918972 , 70392.18781374, 33956.1171015 ,
       60758.14389682, 43493.85775816, 46460.26443073, 64708.03937466,
       26017.90301707, 78109.73386951, 47763.10154039, 38578.45143431,
       33831.59095024, 31323.71763086, 44747.84711171, 70293.28069733,
       68314.83569131, 36224.51582462, 41806.12623381, 27238.29797668,
       65210.05456   , 71853.92277993, 29098.30235395, 68576.09607126,
       45041.57894145, 80713.83445143, 24196.80907344, 34072.93872338,
       30101.70499718, 41110.32975687, 37651.4938263 , 47146.11254868,
       79309.06748799, 68557.58769003, 73228.20370447, 24669.99693372,
       38491.96197769, 77143.41384121, 72450.00778812, 43631.67089432,
       45764.91503752, 50022.33651926, 55624.07837689, 37211.18123655,
       64842.2191704 , 25310.12977916, 83500.32699121, 40076.69209453,
       40419.35533487, 71220.96633608, 33988.25461925, 90817.76223678,
       84258.22775533, 75840.13135821, 69580.68213999, 65462.36749717,
       65210.41635651, 71247.25699659, 33846.73415054, 63597.61966297,
       54427.25743348, 32139.61122961, 48039.50343983, 41593.79069685,
       46063.06683295, 78384.47082468, 52734.00358383, 44631.20838981,
       65165.43158995, 47402.63621171, 50730.82131148, 41302.09907511,
       79800.55811447, 42608.09406023, 81100.13954811, 32258.63968636,
       55083.05228732, 43105.46044792, 34724.63681384, 36334.88580171,
       32800.4566847 , 35213.15344016, 85707.04030066, 29291.58392311,
       75567.49902646, 73024.89734782, 34962.90304204, 50366.08880052,
       33480.39623595, 40014.532742  , 33012.22581244, 60454.6359443 ,
       60171.26777307, 42454.36038347, 48690.58163138, 38529.83977541,
       54759.77692811, 43006.60799883, 81280.3202026 , 48400.3829355 ,
       96394.92093084, 56407.69252482, 62642.88568431, 67162.5038597 ,
       33858.77949968, 63345.70907188, 49841.66136597, 32469.73874268,
       26108.94431923, 44831.40629568, 52662.30632046, 50356.91242116,
       66163.1244965 , 35333.03754138, 64693.70032134, 61299.02010175,
       58122.46599695, 48070.87265261, 44281.78625907, 95781.76044946,
       31080.49645848, 32490.91735853, 38904.83898319, 36129.62017299,
       77883.16140961, 35179.68990245, 73713.34686572, 64893.78752431,
       42824.77691215, 49637.55057352, 35653.25083179, 76777.77843725,
       64432.0903022 , 57746.4570955 , 37073.94627638, 51741.1439948 ,
       54631.94592188, 70161.48291215, 46463.45256061, 40150.88004139,
       34136.81197501, 27058.23814077, 43566.0997888 , 64501.86564884])

In [35]:
Y_test.values

array([ 52597.,  34320.,  38578.,  75433.,  22448.,  84169.,  75702.,
        64813.,  64587.,  82576.,  55249.,  31761.,  59892.,  57867.,
        35246.,  82504.,  39922.,  78041.,  39356.,  74918.,  42720.,
        61180.,  34578.,  37126.,  55239.,  77870.,  57513.,  24683.,
        81741.,  82347.,  30675.,  76542.,  38887.,  32146.,  24594.,
        45579., 102160.,  59062.,  68743.,  74268.,  81217.,  38620.,
        78789.,  40794.,  47025.,  42315.,  55593.,  34935.,  44159.,
        24336.,  70566.,  42554.,  24882.,  68118.,  63810.,  75127.,
        72968.,  65324.,  30753.,  45576.,  78075.,  15253.,  37717.,
        27922.,  75759.,  60208.,  42670.,  75507.,  69267.,  45143.,
       160803.,  55212.,  18701.,  27215.,  28839.,  48721.,  56129.,
        82497.,  21846.,  61074.,  80134.,  71853., 157733.,  89058.,
        67506.,  40246.,  49505.,  39146.,  59809.,  23162.,  58821.,
         7500.,  67546.,  23295.,  84196.,  56046.,  49667.,  70300.,
        30630.,  24027.,  70886.,  67267.,  30279.,  52852.,  70044.,
        30096.,  53700.,  33569.,  79908.,  15315.,  57530.,  67046.,
        73395.,  76005.,  69263.,  42618.,  33581.,  38946.,  75251.,
        80360.,  61314.,  46772.,  68397.,  50664.,  31907.,  22634.,
        54414.,  70932.,  38578.,  33812.,  35682.,  33444.,  78497.,
        48877.,  49572.,  60631.,  13084.,   7500.,  90226.,  80141.,
        11012.,  40211.,  19986.,  21955.,  87188.,  45143.,  57957.,
        90842.,  39791.,  69084.,  38643.,  27244.,  14906.,  62859.,
        72635.,  41120.,  29298.,  32300.,  23957.,  24594.,  23272.,
        24762.,   7500.,  60491.,  70924.,  76467.,  13260.,  75330.,
        72159.,  54591.,  55686.,  79530.,  36921.,  27590.,  61346.,
        71434.,  36975.,  56253.,  45759.,  82384.,  41728.,  21675.,
        34053.,  32144.,  30560.,  52413.,  96876.,  42162.,  51479.,
        44322.,  51651.,  71969.,  31353.,  14188.,   4023.,  23748.,
        69139.,  23763.,  56796.,  82623.,  60554.,  43824.,  55412.,
        91700.,  24206.,  64795.,  63564.,  82584.,  20491.,  53359.,
        22063.,  10979.,  58494.,  22775.,  53312.,  31560.,  33402.,
        46854.,  34109.,  57036.,  71853.,  37070.,  56939.,  94384.,
        66664.,  42731.,  35790.,  22804.,  29938.,  67131.,  34935.,
        60474.,  58330.,  62998.,  18492.,  77622.,  38179.,  44051.,
        66653.,  57338.,  31615.,  89694.,  75278.,  64100.,  39453.,
        69932.,  44802.,  53154.,  23539.,  83151.,  50943.,  31395.,
        86979.,  16626.,  20895.,  98777.,  15287.,  52074.,  19329.,
        73454.,  69389.,  46149.,  25315.,  61286.,  65704.,  66886.,
        64961.,  30843.,  69209.,  36959.,  72335.,  26224.,  78579.,
        31160.,  38557.,  74806.,  60896.,  59432.,  61467.,  79865.,
        36715.,  82025.,  56575.,  62981.,  44503.,  69661.,  22010.,
        59385.,  66991.,  54162.,  75236.,  38829.,  78427.,  80982.,
        50116.,  50300.,  57091.,  30992.,  37070.,  51373.,  82333.,
        67911.,  64108.,  30732.,  66373.,  36997.,  42769.,  61787.,
        25965.,  68682.,  52569.,  46015.,  16529.,  21474.,  41580.,
        72460.,  70792.,  12571.,  30833.,  19414.,  73113.,  80124.,
        19346.,  81975.,  51250.,  67546.,  13724.,  46098.,  30822.,
        40442.,  36927.,  60839.,  83917.,  63285.,  64857.,  17323.,
        38741.,  77457.,  84219.,  46463.,  32871.,  54809.,  52973.,
        46310.,  63855.,  22804.,  73450.,  40521.,  45183.,  81168.,
        31928.,  77568.,  82170.,  71706.,  70951.,  62568.,  64849.,
        65569.,  19514.,  74190.,  42000.,  29999.,  54809.,  44911.,
        43974.,  90000.,  61331.,  48904.,  65748.,  48918.,  46374.,
        21255.,  92556.,  42231., 101970.,  23559.,  54880.,  42710.,
        33629.,  30261.,  17459.,  41021.,  75345.,  21359.,  85431.,
        74250.,  19444.,  62058.,  37401.,  34704.,  29435.,  75774.,
        46681.,  46231.,  53253.,  45759.,  54222.,  50200.,  74859.,
        46524.,  90638.,  51876.,  55434.,  61223.,  35765.,  67272.,
        46931.,  14661.,  31385.,  58308.,  57954.,  53843.,  63206.,
        35641.,  69627.,  69096.,  52845.,  47111.,  30828.,  94384.,
        24711.,  23331.,  38508.,  35791.,  71964.,  37085.,  78468.,
        65275.,  36026.,  48767.,  52195.,  79419.,  70179.,  64722.,
        47691.,  55801.,  52513.,  75484.,  45837.,  40689.,  33235.,
        28691.,  34074.,  55914.])

In [36]:
Y_test.shape

(444,)

In [37]:
np.sqrt(np.sum(Y_test.values-y_predict)**2)/444

48.19545486425836

In [38]:
np.sum((Y_test.values - y_predict)**2)/444

112618301.07086134

In [39]:
from sklearn.metrics import mean_squared_error

In [40]:
mean_squared_error(Y_test.values, y_predict)

112618301.07086134

In [41]:
np.round(y_predict,1)

array([55982.4, 26183.4, 36687.3, 63258.5, 43631.8, 87280.7, 87090.5,
       57450.5, 49933.9, 85374.7, 49756.9, 39931.7, 48862.4, 51617.7,
       45019.4, 71130.2, 30839.5, 74293.8, 37074.2, 87273.6, 49091.8,
       58262.1, 41583. , 34193.2, 62390.5, 68410.5, 62312.1, 37729.1,
       82245. , 86067.8, 28077.8, 80914.3, 32515.7, 36441.2, 36679.2,
       45435. , 79454.8, 48212.3, 76383.6, 64250.9, 71800.7, 47325.8,
       78928.7, 48541.5, 46440.4, 49479.2, 51077.7, 31882.3, 44292.7,
       30568.8, 67916.8, 44585.2, 32860.1, 61389.1, 58501.5, 64402.7,
       84038.1, 62009.2, 42696.8, 30519.4, 66077.3, 30159.4, 23264.1,
       41118.3, 90278.5, 53662.1, 44435.7, 74566.2, 56085.5, 43918.8,
       91408.5, 58979.2, 41958.5, 43994.5, 42423.8, 46976.4, 62733.8,
       73652.9, 29098. , 61959.8, 73060.2, 72621.9, 49119.8, 65660.9,
       53324.4, 33002.5, 54829. , 32361.6, 53393.2, 39689.8, 61270.9,
       26533.3, 79429.7, 26294.8, 73933.1, 45319.2, 54686. , 61462.1,
       36970.9, 28517.5, 66654.4, 58663.1, 28860. , 55328.6, 75237.8,
       34495.4, 57254.4, 25995.1, 86135.9, 37317.1, 54423.7, 67993.3,
       55578.4, 69894.2, 59756. , 34877.8, 29276.9, 48140.9, 76591.3,
       90824. , 69505. , 58895.4, 80645.4, 42673.6, 39350.6, 26368.3,
       51068.3, 67386.5, 35051.5, 34509.8, 46884.7, 33922.2, 72220.4,
       37509.8, 38678.1, 58536.9, 33403.9, 29857.6, 93126.6, 79340. ,
       24657. , 31603.5, 29673.7, 34357.6, 82829.6, 45597. , 61559.4,
       80067.1, 38956.2, 64924.3, 35254.8, 32017.1, 29548.3, 67072.1,
       68898.6, 40187.6, 41516.2, 27991.7, 36415.6, 35725.7, 37660.1,
       28922.5, 34072.4, 66022.7, 75239.7, 60659.6, 33665.8, 69304. ,
       76655.2, 55703.6, 63990.4, 79682.3, 36370. , 29045. , 67374.8,
       74981.3, 31966.2, 53860. , 39444.3, 89503.9, 22930.1, 33148.9,
       33905.4, 39571.4, 30633. , 46934.2, 96871. , 35044. , 48971.5,
       31606.8, 42272.5, 53586.7, 33334.5, 33588.3, -8021.4, 29696.7,
       51722.1, 30654.8, 62524.4, 64199.1, 56815.9, 37829.3, 43535.8,
       87305. , 33756.4, 64258.8, 67012. , 78288.5, 26514.8, 42918.7,
       31195.8, 37072.9, 49999.8, 28144.5, 39581.6, 30471.9, 35582.9,
       35654.2, 42341.4, 58257.6, 71181.6, 46173.6, 59308.7, 95915.6,
       69446.8, 43611.3, 31038.3, 26499.2, 32932.2, 65492.7, 30877.4,
       60205.1, 68135.1, 53933.6, 26719.8, 72989.9, 39243.3, 43582.6,
       64522.7, 46988.8, 31262. , 77552.4, 67925. , 54504. , 34521.3,
       72287.2, 56692.1, 48618.3, 35526.9, 62570.3, 41656. , 40132.4,
       78476.7, 28687.9, 25594.8, 90644.5, 27212.9, 42512.5, 31881.5,
       56813.8, 66328.6, 48904.5, 28755. , 55433.3, 65331.5, 56126.2,
       70885.4, 40981.4, 74163.5, 29206.3, 74571.2, 35337.7, 73625.2,
       29779.7, 34454.4, 65910.3, 74357.7, 59298.8, 61205.9, 76864. ,
       35665.8, 73035.9, 62742.3, 77696. , 39507.6, 65214.1, 28970.2,
       47627.3, 68899.1, 46066.4, 73683.5, 44283.9, 79443.4, 77752.5,
       44865.7, 57815. , 54442.6, 30148.9, 46725.4, 45196.4, 82039.4,
       74218.7, 70392.2, 33956.1, 60758.1, 43493.9, 46460.3, 64708. ,
       26017.9, 78109.7, 47763.1, 38578.5, 33831.6, 31323.7, 44747.8,
       70293.3, 68314.8, 36224.5, 41806.1, 27238.3, 65210.1, 71853.9,
       29098.3, 68576.1, 45041.6, 80713.8, 24196.8, 34072.9, 30101.7,
       41110.3, 37651.5, 47146.1, 79309.1, 68557.6, 73228.2, 24670. ,
       38492. , 77143.4, 72450. , 43631.7, 45764.9, 50022.3, 55624.1,
       37211.2, 64842.2, 25310.1, 83500.3, 40076.7, 40419.4, 71221. ,
       33988.3, 90817.8, 84258.2, 75840.1, 69580.7, 65462.4, 65210.4,
       71247.3, 33846.7, 63597.6, 54427.3, 32139.6, 48039.5, 41593.8,
       46063.1, 78384.5, 52734. , 44631.2, 65165.4, 47402.6, 50730.8,
       41302.1, 79800.6, 42608.1, 81100.1, 32258.6, 55083.1, 43105.5,
       34724.6, 36334.9, 32800.5, 35213.2, 85707. , 29291.6, 75567.5,
       73024.9, 34962.9, 50366.1, 33480.4, 40014.5, 33012.2, 60454.6,
       60171.3, 42454.4, 48690.6, 38529.8, 54759.8, 43006.6, 81280.3,
       48400.4, 96394.9, 56407.7, 62642.9, 67162.5, 33858.8, 63345.7,
       49841.7, 32469.7, 26108.9, 44831.4, 52662.3, 50356.9, 66163.1,
       35333. , 64693.7, 61299. , 58122.5, 48070.9, 44281.8, 95781.8,
       31080.5, 32490.9, 38904.8, 36129.6, 77883.2, 35179.7, 73713.3,
       64893.8, 42824.8, 49637.6, 35653.3, 76777.8, 64432.1, 57746.5,
       37073.9, 51741.1, 54631.9, 70161.5, 46463.5, 40150.9, 34136.8,
       27058.2, 43566.1, 64501.9])

In [42]:
TSS = np.sum((Y_test.values - np.round(Y_test.values.mean(), 1))**2)
ESS = np.sum((np.round(y_predict,1) - np.round(Y_test.values.mean(),1))**2)
RSS = np.sum((Y_test.values - np.round(y_predict,1))**2)

In [43]:
TSS

219054143650.0

In [44]:
ESS + RSS

197670622558.62

# Question no. 1

# Classification using KNN

In [45]:
x=df_dataset.drop(columns=['Education','Marital_Status','Dt_Customer'],axis=1)
y=df_dataset['Education']

In [46]:
x

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,58138.0,0,0,58,635,88,546,172,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,46344.0,1,1,38,11,1,6,2,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,71613.0,0,0,26,426,49,127,111,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,26646.0,1,0,26,11,4,20,10,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,58293.0,1,0,94,173,43,118,46,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,61223.0,0,1,46,709,43,182,42,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,64014.0,2,1,56,406,0,30,0,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,56981.0,0,0,91,908,48,217,32,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,69245.0,0,1,8,428,30,214,80,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,52869.0,1,1,40,84,3,61,2,...,7,0,0,0,0,0,0,3,11,1

In [47]:
y

0       Graduation
1       Graduation
2       Graduation
3       Graduation
4              PhD
           ...
2235    Graduation
2236           PhD
2237    Graduation
2238        Master
2239           PhD
Name: Education, Length: 2216, dtype: object

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
X_train, X_test, Y_train ,Y_test= train_test_split(x,y, train_size=0.8, random_state = 9)

In [50]:
X_train

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
132,9597,1969,73448.0,0,0,10,236,106,189,23,...,4,0,0,0,0,0,0,3,11,0
600,10277,1961,30081.0,0,1,27,36,0,2,0,...,7,0,0,0,0,0,0,3,11,0
746,7235,1975,17003.0,1,0,37,2,5,12,4,...,5,0,0,0,0,0,0,3,11,0
922,4487,1969,39858.0,1,0,67,15,20,25,2,...,6,0,0,0,0,0,0,3,11,1
1734,2499,1958,75342.0,0,1,38,204,97,97,21,...,4,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804,8397,1951,44689.0,1,1,82,18,0,5,0,...,7,1,0,0,0,0,0,3,11,0
2127,6292,1986,82333.0,0,0,60,1311,0,359,46,...,2,0,0,1,0,0,0,3,11,1
514,182,1946,44124.0,0,1,62,284,0,55,0,...,8,0,0,0,0,0,0,3,11,0
361,9336,1969,62187.0,0,1,38,512,0,83,0,...,4,0,0,0,0,0,0,3,11,0
395,3428,1991,68682.0,0,0,56,919,0,505,99,...,2,0,0,0,0,0,0,3,11,0

In [51]:
X_test

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
1312,10260,1965,45143.0,0,1,74,202,5,74,11,...,7,0,0,0,0,0,0,3,11,0
1275,10319,1971,66303.0,0,1,56,1090,12,96,16,...,8,0,1,0,0,0,0,3,11,0
541,10591,1969,43638.0,0,1,37,63,10,83,7,...,7,0,0,0,0,0,0,3,11,0
2077,954,1960,22123.0,0,0,77,3,3,24,34,...,5,0,0,0,0,0,0,3,11,0
1614,6215,1977,31353.0,1,1,24,10,0,10,3,...,8,0,0,0,0,0,0,3,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936,4827,1956,54998.0,0,1,3,154,22,202,39,...,4,0,0,0,0,0,0,3,11,1
1256,9094,1955,62972.0,0,1,39,313,15,47,20,...,6,0,0,0,0,0,0,3,11,1
1669,4127,1967,77766.0,0,1,97,1004,59,265,115,...,6,1,0,0,0,0,0,3,11,1
1871,8602,1964,69932.0,0,1,97,412,172,153,150,...,4,0,0,0,0,0,0,3,11,0
2150,6950,1958,49572.0,1,1,25,35,1,16,0,...,7,0,0,0,0,0,0,3,11,0

In [52]:
Y_test.shape

(444,)

# train a KNN classifier using the training data

In [53]:
from sklearn.neighbors import KNeighborsClassifier

In [54]:
model_knn = KNeighborsClassifier(n_neighbors = 4)

In [55]:
model_knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=4)

In [56]:
y_predict= model_knn.predict(X_test)
y_predict

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

array(['Graduation', 'Master', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'PhD', 'Graduation', 'PhD', 'Graduation', '2n Cycle',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Graduation', '2n Cycle', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'PhD',
       'Graduation', 'Basic', 'Master', 'Master', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', '2n Cycle',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Master', 'Graduation',
       '2n Cycle', 'Graduation', 'Graduation', '2n Cycle', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'Basic',
       'Graduation', 'PhD', 'Graduation', 'Graduation', '2n Cycle',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'PhD', 'PhD', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', '2n Cycle', 'Graduation', 'Graduation',
       '2n Cycle', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       '2n Cycle', 'Graduation', 'Graduation', 'Basic', 'Graduation',
       'Graduation', 'PhD', 'PhD', '2n Cycle', 'Graduation', 'Master',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Basic', 'Graduation', 'Graduation', 'PhD', '2n Cycle',
       'Graduation', 'Graduation', 'Master', 'Graduation', '2n Cycle',
       'PhD', 'Graduation', 'PhD', 'Graduation', '2n Cycle', 'Master',
       'Graduation', '2n Cycle', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', '2n Cycle', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'PhD', 'Graduation', '2n Cycle', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Master', 'Graduation', 'Graduation',
       'Master', 'PhD', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       '2n Cycle', 'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'PhD', '2n Cycle', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', '2n Cycle',
       'PhD', 'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', '2n Cycle', '2n Cycle', 'Graduation',
       'Graduation', 'PhD', 'PhD', 'Master', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'Master', 'Graduation',
       '2n Cycle', 'Graduation', 'Graduation', 'Graduation', 'Graduation',
       '2n Cycle', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Master', 'Graduation', 'Master',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', '2n Cycle', 'Graduation', '2n Cycle', 'Graduation',
       '2n Cycle', 'PhD', 'Graduation', 'PhD', 'Graduation', '2n Cycle',
       'Graduation', 'Graduation', 'PhD', 'PhD', 'Graduation', '2n Cycle',
       'Graduation', 'Master', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Basic', 'Graduation', 'Graduation', '2n Cycle',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'Basic',
       'Graduation', '2n Cycle', 'Graduation', 'Graduation', 'Basic',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', '2n Cycle', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', '2n Cycle', 'Graduation', 'Graduation',
       'PhD', 'PhD', 'Master', 'Master', 'Basic', 'Graduation',
       'Graduation', 'Master', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Master', 'Master', 'Graduation', 'Graduation',
       'PhD', 'Graduation', 'Graduation', 'Master', 'Graduation',
       'Graduation', 'PhD', 'Master', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Master', '2n Cycle',
       'Graduation', 'Graduation', 'Graduation', '2n Cycle', 'Graduation',
       'Graduation', 'Master', 'Graduation', 'Master', 'Graduation',
       'PhD', 'Graduation', 'Graduation', 'Graduation', 'PhD', '2n Cycle',
       'Graduation', '2n Cycle', 'PhD', 'Graduation', 'PhD', 'Graduation',
       'Master', 'Graduation', 'Graduation', 'Graduation', 'Master',
       '2n Cycle', 'Graduation', 'Master', 'Master', 'PhD', 'Master',
       'PhD', '2n Cycle', 'Graduation', 'Graduation', 'Graduation',
       'Master', 'Graduation', '2n Cycle', 'Master', 'Master',
       'Graduation', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'PhD', 'PhD', 'Master', 'Graduation', '2n Cycle', 'Graduation',
       'Graduation', 'Graduation', 'Master', '2n Cycle', 'Graduation',
       'Graduation', 'Basic', 'Graduation', 'Graduation', 'Graduation',
       '2n Cycle', 'PhD', 'Master', 'Master', 'Graduation', 'Graduation',
       'PhD', 'PhD', 'Master', 'Master', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', '2n Cycle',
       '2n Cycle', 'Master', 'Graduation', 'Graduation', 'Graduation',
       'PhD', 'Graduation', 'Master', 'Graduation', 'Master', 'PhD',
       'Graduation'], dtype=object)

In [57]:
Y_test.values

array(['Master', 'Graduation', 'Graduation', 'Basic', 'Graduation',
       '2n Cycle', 'Graduation', 'Graduation', 'Master', 'Graduation',
       'PhD', 'Graduation', 'PhD', 'PhD', '2n Cycle', 'Graduation',
       'Master', '2n Cycle', 'Graduation', 'PhD', 'PhD', 'Graduation',
       'PhD', 'Graduation', 'PhD', 'PhD', 'PhD', 'Graduation', 'Master',
       'Graduation', 'Graduation', '2n Cycle', 'Graduation', 'Graduation',
       'Master', 'PhD', 'Graduation', 'Graduation', 'PhD', 'Master',
       'Master', 'Graduation', 'PhD', 'PhD', 'Graduation', 'Graduation',
       '2n Cycle', 'Graduation', 'Basic', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Master', '2n Cycle',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Master', 'Graduation', 'Graduation', '2n Cycle',
       'Master', '2n Cycle', 'Graduation', 'Graduation', 'Graduation',
       'Master', 'Graduation', 'PhD', 'Master', 'PhD', 'Graduation',
       'Graduation', 'PhD', 'PhD', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', '2n Cycle', 'Graduation', 'Graduation',
       'Graduation', '2n Cycle', 'Master', 'Graduation', 'PhD',
       '2n Cycle', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Master', 'Graduation', 'PhD', 'Graduation', 'PhD', 'Graduation',
       'PhD', 'Graduation', 'Master', 'Basic', 'Graduation', '2n Cycle',
       'Master', 'Graduation', 'Graduation', 'Master', 'Master', 'Master',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'Graduation', 'Master', 'PhD',
       'Graduation', 'Graduation', 'PhD', 'Graduation', '2n Cycle', 'PhD',
       'PhD', 'PhD', 'Graduation', 'PhD', 'Graduation', 'Basic',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'PhD', 'Master', 'PhD', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'PhD', 'Master', 'PhD', 'Graduation', '2n Cycle',
       'Master', 'PhD', 'Master', 'Graduation', 'Master', 'Graduation',
       'PhD', 'Graduation', 'PhD', 'PhD', 'Graduation', 'Graduation',
       'Master', 'PhD', 'Graduation', '2n Cycle', 'Graduation',
       'Graduation', 'Master', 'PhD', 'Graduation', 'Master',
       'Graduation', 'PhD', 'Graduation', 'Graduation', '2n Cycle',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'Master', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Graduation', '2n Cycle', 'Graduation', 'PhD', 'Master', 'Basic',
       'Graduation', 'Graduation', 'PhD', 'Master', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Master', 'Graduation', 'Master',
       'Graduation', '2n Cycle', 'Master', '2n Cycle', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'Graduation', 'Basic',
       '2n Cycle', 'Graduation', '2n Cycle', 'Graduation', 'Graduation',
       'PhD', 'Master', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'PhD', 'Master', 'Graduation', 'Graduation', 'Graduation',
       'Master', 'PhD', 'PhD', 'Graduation', 'Graduation', 'Graduation',
       'PhD', 'Graduation', 'Graduation', '2n Cycle', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'PhD', 'PhD', 'PhD', 'Graduation',
       'Graduation', '2n Cycle', 'Graduation', 'Graduation', 'Graduation',
       'PhD', 'Master', 'Master', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', '2n Cycle',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Master', 'Graduation', 'Graduation', 'Graduation',
       '2n Cycle', 'Graduation', 'Graduation', 'PhD', 'PhD', 'PhD', 'PhD',
       'Graduation', 'Master', 'PhD', 'PhD', '2n Cycle', 'Graduation',
       'Graduation', 'Master', 'Graduation', 'PhD', 'Master', 'PhD',
       'PhD', '2n Cycle', '2n Cycle', 'Master', '2n Cycle', 'Master',
       'Graduation', 'PhD', 'Graduation', 'Graduation', '2n Cycle',
       'Graduation', 'Master', 'Graduation', 'Basic', 'Master',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'PhD', 'Master',
       'Master', 'Graduation', 'Basic', 'Graduation', 'PhD', 'Graduation',
       'PhD', 'PhD', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'PhD', 'Master', 'Graduation', '2n Cycle', 'Master',
       '2n Cycle', 'Graduation', 'Master', 'Master', 'Graduation',
       'Graduation', '2n Cycle', 'Master', 'Graduation', 'Master',
       'Graduation', 'Master', 'PhD', 'Graduation', 'Graduation',
       '2n Cycle', 'Master', 'PhD', 'Graduation', '2n Cycle', 'Master',
       'Graduation', 'PhD', '2n Cycle', 'PhD', 'Master', 'Graduation',
       'Graduation', 'Graduation', 'Master', 'Master', 'PhD',
       'Graduation', 'PhD', 'Graduation', 'PhD', '2n Cycle', 'PhD', 'PhD',
       'Basic', 'Graduation', 'Graduation', 'Graduation', '2n Cycle',
       'Graduation', 'Graduation', '2n Cycle', 'PhD', '2n Cycle',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'Master', '2n Cycle',
       'Graduation', 'Master', 'Master', 'Graduation', 'Graduation',
       'PhD', '2n Cycle', 'PhD', 'Graduation', 'Master'], dtype=object)

# Evaluating the knn classifier

In [58]:
model_knn.score(X_test,Y_test.values)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.40540540540540543

In [59]:
model_knn.score(X_test, Y_test.values)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.40540540540540543

In [60]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test.values, y_predict)

array([[  4,   2,  25,   5,   6],
       [  2,   0,   6,   1,   0],
       [ 21,   6, 155,  23,  26],
       [  9,   1,  43,   3,   9],
       [  8,   0,  62,   9,  18]], dtype=int64)

In [61]:
confusion_matrix(Y_test.values, y_predict)

array([[  4,   2,  25,   5,   6],
       [  2,   0,   6,   1,   0],
       [ 21,   6, 155,  23,  26],
       [  9,   1,  43,   3,   9],
       [  8,   0,  62,   9,  18]], dtype=int64)

In [62]:
confusion_matrix(Y_test.values, y_predict)

array([[  4,   2,  25,   5,   6],
       [  2,   0,   6,   1,   0],
       [ 21,   6, 155,  23,  26],
       [  9,   1,  43,   3,   9],
       [  8,   0,  62,   9,  18]], dtype=int64)

# Classification using Logistic regression

In [63]:
from sklearn.linear_model import LogisticRegression

In [64]:
model_logistic = LogisticRegression(random_state = 10)
model_logistic.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=10)

In [65]:
y_predict = model_logistic.predict(X_test)
y_predict

array(['Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'Basic',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'Basic',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Basic', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation'],
      dtype=object)

In [66]:
model_logistic.predict_proba(X_test)

array([[8.99032758e-02, 8.48069871e-03, 5.22032644e-01, 1.68543106e-01,
        2.11040276e-01],
       [6.69419598e-02, 7.59204244e-04, 3.89277227e-01, 1.84276692e-01,
        3.58744917e-01],
       [9.06016633e-02, 1.01387727e-02, 5.49231081e-01, 1.61110325e-01,
        1.88918158e-01],
       ...,
       [6.68334640e-02, 1.30037892e-04, 4.14733622e-01, 1.84672174e-01,
        3.33630702e-01],
       [7.08596236e-02, 4.28366551e-04, 5.54198217e-01, 1.55217892e-01,
        2.19295901e-01],
       [9.06847215e-02, 4.00182845e-03, 5.38135453e-01, 1.68525796e-01,
        1.98652201e-01]])

# Evaluating the Logistic regression Classifier

In [67]:
model_logistic.score(X_test, Y_test.values)

0.5247747747747747

In [68]:
confusion_matrix(Y_test.values, y_predict)

array([[  0,   0,  42,   0,   0],
       [  0,   0,   9,   0,   0],
       [  0,   3, 227,   0,   1],
       [  0,   0,  63,   0,   2],
       [  0,   0,  91,   0,   6]], dtype=int64)

In [69]:
confusion_matrix(Y_test.values, y_predict)

array([[  0,   0,  42,   0,   0],
       [  0,   0,   9,   0,   0],
       [  0,   3, 227,   0,   1],
       [  0,   0,  63,   0,   2],
       [  0,   0,  91,   0,   6]], dtype=int64)

# Classification using Support Vector Machine

In [70]:
from sklearn.svm import SVC

In [71]:
model_svm = SVC()

In [72]:
model_svm.fit(X_train,Y_train)

SVC()

In [73]:
y_predict=model_svm.predict(X_test)

In [74]:
y_predict

array(['Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation'],
      dtype=object)

In [75]:
y_predict.shape

(444,)

# Evaluating the SVM classifier

In [76]:
model_svm.score(X_test,Y_test.values)

0.5202702702702703

In [77]:
from sklearn.metrics import confusion_matrix

In [78]:
confusion_matrix(Y_test.values,y_predict)

array([[  0,   0,  42,   0,   0],
       [  0,   0,   9,   0,   0],
       [  0,   0, 231,   0,   0],
       [  0,   0,  65,   0,   0],
       [  0,   0,  97,   0,   0]], dtype=int64)

In [ ]:
#Initializing the model object
model_svm = SVC(kernel = "linear")
# fit the model on training data
model_svm.fit(X_train,Y_train)
# Run prediction on test data
y_predict = model_svm.predict(X_test)
y_predict

In [80]:
model_svm.score(X_test,Y_test.values)

0.5315315315315315

# Classification using Decision Tree classifier

In [81]:
from sklearn.tree import DecisionTreeClassifier

In [82]:
model_dt = DecisionTreeClassifier(random_state = 2)

In [83]:
model_dt.fit(X_train, Y_train)

DecisionTreeClassifier(random_state=2)

In [84]:
y_predict = model_dt.predict(X_test)
y_predict

array(['Master', 'Master', 'Graduation', 'Graduation', 'Graduation',
       'PhD', 'Graduation', 'PhD', 'Graduation', 'Graduation', '2n Cycle',
       'Graduation', 'PhD', 'PhD', 'PhD', 'Graduation', 'Master',
       '2n Cycle', 'PhD', 'Graduation', 'Master', 'Graduation', 'PhD',
       'Graduation', 'PhD', 'PhD', 'Master', 'Graduation', 'Graduation',
       '2n Cycle', 'Graduation', 'PhD', 'PhD', 'Graduation', 'Graduation',
       'PhD', 'Master', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Master', 'Graduation', 'PhD', 'Graduation',
       '2n Cycle', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'PhD', 'Master', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', '2n Cycle',
       'Master', 'Graduation', 'PhD', 'PhD', 'Graduation', '2n Cycle',
       '2n Cycle', 'Master', 'Master', 'Graduation', 'Graduation',
       'Graduation', '2n Cycle', 'Graduation', 'Graduation', 'PhD', 'PhD',
       'Graduation', 'Master', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'Master', 'Master', '2n Cycle', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'PhD', 'Graduation', 'PhD', 'PhD', 'Graduation',
       'Graduation', 'PhD', 'PhD', 'PhD', 'Graduation', 'PhD', 'Master',
       'Graduation', 'Graduation', 'Master', 'Graduation', 'Graduation',
       'Master', 'PhD', 'PhD', 'Graduation', 'PhD', '2n Cycle',
       'Graduation', 'Master', 'Graduation', 'Graduation', 'Master',
       'PhD', 'PhD', 'Graduation', 'Master', 'Graduation', '2n Cycle',
       'PhD', 'Graduation', 'Graduation', 'Graduation', 'Master', 'PhD',
       'Graduation', 'Graduation', 'Graduation', '2n Cycle', 'Graduation',
       '2n Cycle', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       '2n Cycle', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       '2n Cycle', 'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Master', '2n Cycle',
       'Graduation', 'Graduation', 'PhD', 'PhD', 'Graduation',
       'Graduation', 'Master', 'PhD', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'PhD', 'Master', 'PhD',
       'Master', 'Graduation', 'Graduation', 'Master', 'Graduation',
       'Master', 'Master', 'Graduation', 'Master', '2n Cycle', 'Master',
       'PhD', 'Master', 'Graduation', 'Graduation', 'Graduation',
       '2n Cycle', 'Master', 'PhD', 'Master', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Master', 'Graduation', '2n Cycle',
       'Graduation', 'PhD', 'Graduation', 'Master', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'Master', 'PhD', 'Graduation',
       'Master', '2n Cycle', 'PhD', 'PhD', 'Master', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Master', 'PhD',
       '2n Cycle', 'PhD', 'Graduation', 'PhD', 'Graduation', 'PhD',
       'Graduation', 'Master', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'PhD', '2n Cycle', 'Graduation', 'Graduation',
       'Graduation', 'PhD', '2n Cycle', 'Graduation', '2n Cycle',
       'Master', 'PhD', 'Graduation', 'PhD', 'Master', 'Graduation',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'PhD', 'PhD',
       'Master', 'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Basic', '2n Cycle', 'PhD', 'PhD', 'Master',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'Master',
       'PhD', 'PhD', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'Master', 'PhD', 'PhD', 'PhD', 'Graduation', 'PhD',
       'Master', 'Master', 'Graduation', 'Graduation', 'PhD', '2n Cycle',
       'Graduation', 'Master', 'PhD', 'Master', 'Graduation',
       'Graduation', 'Master', '2n Cycle', 'Graduation', 'Graduation',
       '2n Cycle', 'Master', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', '2n Cycle', 'Graduation',
       'PhD', 'Graduation', 'PhD', 'Master', 'PhD', 'PhD', 'Graduation',
       'PhD', '2n Cycle', 'Master', 'PhD', 'PhD', '2n Cycle',
       'Graduation', '2n Cycle', 'PhD', 'PhD', 'PhD', 'PhD', 'PhD',
       'Graduation', '2n Cycle', 'Basic', 'Master', 'Graduation',
       'Master', 'PhD', 'PhD', 'Graduation', 'Graduation', '2n Cycle',
       'Graduation', 'Master', 'Graduation', 'Graduation', 'Graduation',
       'PhD', 'Master', 'Graduation', '2n Cycle', 'Master', 'Master',
       'PhD', 'Graduation', 'Basic', 'PhD', 'PhD', 'Graduation',
       'Graduation', 'PhD', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'Basic',
       'Graduation', 'Master', 'Graduation', 'Graduation', 'Master',
       'PhD', 'Graduation', 'Graduation', 'Master', 'PhD', 'Graduation',
       'Graduation', 'PhD', 'Master', 'Graduation', 'Graduation',
       '2n Cycle', 'Master', '2n Cycle', '2n Cycle', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'Master', '2n Cycle',
       'Master', 'PhD', 'Master', 'PhD', 'Graduation', 'Master',
       'Graduation', 'PhD', 'PhD', 'Graduation', 'Basic', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'Master',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', '2n Cycle', 'Master', 'Graduation', '2n Cycle',
       'Graduation', 'PhD', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'PhD', 'Graduation', 'Graduation'], dtype=object)

# Evaluating the Decision Tree classifier

In [85]:
model_dt.score(X_test, Y_test.values)

0.45495495495495497

In [86]:
# Confusion matrix for our test results
from sklearn.metrics import confusion_matrix

confusion_matrix(Y_test.values, y_predict)

array([[ 12,   3,  21,   3,   3],
       [  2,   1,   6,   0,   0],
       [ 17,   1, 132,  33,  48],
       [  3,   0,  29,  17,  16],
       [  7,   0,  32,  18,  40]], dtype=int64)

# Classification using Random Forest classifier

In [87]:
from sklearn.ensemble import RandomForestClassifier

In [88]:
model_rf = RandomForestClassifier(random_state = 10)

In [89]:
model_rf.fit(X_train,Y_train)

RandomForestClassifier(random_state=10)

In [90]:
y_predict= model_rf.predict(X_test)
y_predict

array(['Master', 'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'PhD',
       'Graduation', 'Graduation', 'Master', 'Graduation', 'Graduation',
       'Master', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'PhD', 'PhD', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'PhD', 'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'PhD', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'PhD', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Master', 'PhD',
       'Graduation', 'Graduation', 'PhD', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', '2n Cycle',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'PhD', 'Graduation', 'Graduation', 'PhD', 'Graduation', 'PhD',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', '2n Cycle', 'Graduation',
       'PhD', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'Master', 'Master',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', '2n Cycle',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'Graduation',
       'PhD', 'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'PhD', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'Master',
       'Graduation', 'Graduation', 'PhD', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'Master',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Master', 'Basic', 'Graduation', 'PhD', 'PhD', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Master',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'PhD',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'Master',
       'Master', 'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Master', 'PhD',
       'Graduation', 'PhD', 'Basic', 'Master', 'PhD', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'PhD', 'PhD', 'Graduation', 'Graduation', 'Graduation', 'Master',
       'Graduation', 'Master', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Basic', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Master', 'PhD',
       'Graduation', 'Basic', 'Graduation', 'PhD', 'Graduation', 'PhD',
       'PhD', 'PhD', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation', 'Master',
       'Graduation', 'Graduation', 'Graduation', 'Master', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', '2n Cycle', 'Master', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'PhD', 'Graduation', 'PhD',
       'Graduation', 'PhD', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'PhD', 'Graduation',
       'Graduation', 'Graduation', 'Graduation', 'Graduation',
       'Graduation', '2n Cycle', 'PhD', 'Graduation', 'PhD', 'PhD',
       'Graduation', '2n Cycle', 'PhD', 'Graduation', 'Graduation'],
      dtype=object)

In [91]:
model_rf.score(X_test,Y_test.values)

0.6328828828828829

In [92]:
model_rf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 10,
 'verbose': 0,
 'warm_start': False}

# Unsupervised ML

# K-Means

In [93]:
from sklearn.cluster import KMeans

In [94]:
model_kmeans = KMeans(n_clusters = 3, random_state=0)

In [109]:
X = df_dataset.loc[:,'Income':'Response']
X = df_dataset.drop(columns=['Dt_Customer'])

In [110]:
X

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,58,635,88,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,38,11,1,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,26,426,49,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,26,11,4,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,94,173,43,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,46,709,43,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,56,406,0,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,91,908,48,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,8,428,30,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,40,84,3,...,7,0,0,0,0,0,0,3,11,1

In [111]:
X_train, X_test, Y_train ,Y_test= train_test_split(x,y, train_size=0.8, random_state = 9)

In [112]:
X_train

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
132,9597,1969,73448.0,0,0,10,236,106,189,23,...,4,0,0,0,0,0,0,3,11,0
600,10277,1961,30081.0,0,1,27,36,0,2,0,...,7,0,0,0,0,0,0,3,11,0
746,7235,1975,17003.0,1,0,37,2,5,12,4,...,5,0,0,0,0,0,0,3,11,0
922,4487,1969,39858.0,1,0,67,15,20,25,2,...,6,0,0,0,0,0,0,3,11,1
1734,2499,1958,75342.0,0,1,38,204,97,97,21,...,4,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804,8397,1951,44689.0,1,1,82,18,0,5,0,...,7,1,0,0,0,0,0,3,11,0
2127,6292,1986,82333.0,0,0,60,1311,0,359,46,...,2,0,0,1,0,0,0,3,11,1
514,182,1946,44124.0,0,1,62,284,0,55,0,...,8,0,0,0,0,0,0,3,11,0
361,9336,1969,62187.0,0,1,38,512,0,83,0,...,4,0,0,0,0,0,0,3,11,0
395,3428,1991,68682.0,0,0,56,919,0,505,99,...,2,0,0,0,0,0,0,3,11,0

In [113]:
model_kmeans.fit(X_train)

KMeans(n_clusters=3, random_state=0)

In [114]:
model_kmeans.labels_

array([0, 1, 1, ..., 1, 0, 0])

In [115]:
model_kmeans.predict(X_test)

AttributeError: 'NoneType' object has no attribute 'split'